<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LetsTeach</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="jquery-mobile-1.1.1.min.css" />
<script src="jquery-1.7.1.min.js"></script>
<script src="jquery-mobile-1.1.1.min.js"></script>
<script src="angular.min.js"></script>
<script src="module.js"></script>
<script src="loginCtrl.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1>Login</h1>
		</div>
		<div data-role="content" ng-app="myApp" ng-controller="loginCtrl">
			<form action="home.html">
				<table>
					<tr>
						<td><b>Email:</b></td>
						<td><input type="text" ng-model="email" placeholder="Email">
							<span style="color: red;" ng-show="emailRequired">Email is
								required.</span></td>
					</tr>
					<tr>
						<td><b>Password:</b></td>
						<td><input type="password" ng-model="pwd"
							placeholder="Password"> <span style="color: red;"
							ng-show="pwdRequired">Password is required.</span></td>
					</tr>
					<tr>
						<td><input data-icon="gear" type="button" value="Login"
							ng-click="login()"></td>
						<td><input data-icon="plus" type="button" value="SignUp"
							ng-click="signUp()"></td>
					</tr>
				</table>
			</form>
		</div>
		<div data-role="footer" data-position="fixed">
			<h1>LetsTeach &copy; 2015</h1>
		</div>
	</div>
</body>
</html>