<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LetsTeach</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles/jquery-mobile-1.1.1.min.css" />
<script src="../scripts/jquery-1.7.1.min.js"></script>
<script src="../scripts/jquery-mobile-1.1.1.min.js"></script>
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/module.js"></script>
</head>
<body>
	<div data-role="dialog" data-close-btn="none">

		<div data-role="header" data-theme="d">
			<h1>Alert</h1>

		</div>

		<div data-role="content" data-theme="c">
			<h1>Submit?</h1>
			<a href="lists.html" data-role="button" rel="external" data-theme="b">OK</a> 
			<a href="home.html" data-role="button" data-rel="back" data-theme="c">Cancel</a>
		</div>
	</div>

</body>
</html>